* {
    box-sizing: border-box;
    background-color: rgb(213, 213, 194);
}

.header {
border: solid 2px;
background-color: rgb(218, 191, 105);
text-align: center;
font-family: 'Times New Roman', Times, serif;
padding: 5px;
}

.lists {
    color: rgb(242, 248, 129);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 40px;
    padding: 5px;

}
.paragraph {
    border: solid 2px;
    text-align: center;
    margin: 3px;
    padding: 4px;
}
.welcomebanner {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 2);
    display: block; /* why did it center the text?? */
}