* {
    box-sizing: border-box;
    background-color: rgb(213, 213, 194);
}

.header {
    border: solid 2px;
    background-color: rgb(218, 191, 105);
    text-align: center;
    font-family: 'Brush Script MT', Times, serif;
    padding: 5px;
}

.lists {
    color: rgb(242, 248, 129);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 40px;
    padding: 5px;
}

.lists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paragraph {
    border: solid 2px;
    text-align: center;
    margin: 3px;
    padding: 4px;
    color: rgb(61, 8, 8);
}

.welcomebanner {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 2);
    font-family: 'Brush Script MT', Times, serif;
    display: block;
    /* why did it center the text?? */
}

#listedbelow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
   /*  margin: 0;
    padding: 0; */
}